.input {
  display: flex;
  flex-direction: column;
  color: #666666;
  font-weight: bold;
}

input,
select {
  height: 25px;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  padding-bottom: 4px;
}
