/*inter font*/
@import url('https://fonts.googleapis.com/css2?&family=Inter:wght@400&display=swap');

/*caudex font*/
@import url('https://fonts.googleapis.com/css2?&family=Caudex:wght@400;700&display=swap');

/*montserrat font*/
@import url('https://fonts.googleapis.com/css2?&family=Montserrat:wght@900&display=swap');


* {
  box-sizing: border-box;
  font-family: "Caudex", serif;
}

html {
  font-family: 'Inter', sans-serif;
}


body {
  margin: 0;
  padding: 0;

  color: #fff0df;
  /*↑creamy white*/
}

a {
  text-decoration: none;
  color: black;
}


.caudex {
  font-family: "Caudex", serif;
}

main {
  padding: 2rem;
}
